/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*  
	Nollställning från:
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
    Färgsättning:
    Bakgrund + menytext rgb(234, 231, 210)
    Text + menybakgrund rgb(121, 112, 102)
    Bakgrund topbar rgb(81, 71, 61)
    Body-bakgrund rgb(252, 250, 244)
    Hover meny rgb(156, 144, 132)
    Border maincontent rgb(192, 192, 192)
    Border sida rgb(206, 202, 185)
*/

/* Generellt utseende */
body {
    background-color: rgb(252, 250, 244);
    font-family: Verdana;
    font-size: 10pt;
}

h1, h2 {
    font-family: "Times New Roman";
}

p {
    color: rgb(121, 112, 102);
}

ul {
    padding: 5px;
    padding-left: 10px; 
}

/* Sidstorlek, placering och färger */
#container {
    width: 598px;
    background-color: rgb(234, 231, 210);
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgb(206, 202, 185);
}

/* Webbsidans "huvud" */
#topbar {
    background-color: rgb(81, 71, 61);
    width: 590px;
    text-align: right;
    color: rgb(234, 231, 210);
    font-size: 7pt;
    font-style: italic;
    padding: 5px;
}

#menu::before {
    content: url(pics/coffey.jpg);
    padding-bottom: 1px;
}

/* Meny-layout */
#menu {
    background-color: rgb(81, 71, 61);
    height: 240px;
}

a[href$="maincontent"] {
    display: none;
}

#menu ul {
    padding-left: 15px;
    margin-top: 5px;
}

#menu ul li {
    display: inline;
    margin-left: -1.75px; 
    margin-right: -2px;
    vertical-align: -4px;
}

#menu ul li a {
    padding: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu ul li a:link {
    background-color: rgb(121, 112, 102);
    color: rgb(234, 231, 210);
    text-decoration: none;
    text-transform: capitalize;
}

#menu ul li a:hover {
    background-color: rgb(156, 144, 132);
}

#menu ul li.active a:link {
    background-color: rgb(234, 231, 210);
    color: rgb(121, 112, 102);
}

/* Layout för innhållet */
#content {
    margin-top: 15px;
}

#maincontent {
    float: left;
    width: 363px;
    border-right: 1px dashed rgb(192, 192, 192);
}

#subcontent {
    float: right;
    width: 234px;
}

#bottomcontent {
    clear: both;
}

#maincontent h1 {
    font-size: 24pt;
    color: rgb(121, 112, 102);
    padding: 10px;
}

#maincontent p {
    font-size: 10pt;
    line-height: 155%;
    padding: 5px;
    padding-left: 10px;
}

#maincontent img {
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    float: left;
}

#subcontent h1, h2 {
    font-size: 13pt;
    color: rgb(81, 71, 61);
    padding: 10px;
    padding-top: 15px;
}

#subcontent h2 {
    font-size: 11pt;
    padding-bottom: 0;
}

#subcontent p {
    font-size: 7pt;
    line-height: 200%;
    padding: 10px;
}

#subcontent ul {
    padding-top: -5px;
    margin-top: 0;
}

#subcontent ul li {
    padding-top: 5px;
}

#subcontent ul li a:link{
    color: rgb(81, 71, 61);
    font-size: 10pt;
}

#bottomcontent {
    font-size: 7pt;
    font-style: italic;
    color: rgb(121, 112, 102);
    padding: 10px;
}
